@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300;1,500;1,700&display=swap");

:root {
	--primary-color: #1652f0;
	--button-color: rgb(5, 177, 105);
	--dark-color: rgb(5, 15, 25);
	--secondary-color: rgb(255, 255, 255);
	--dark-blue-text: rgb(0, 47, 107);
	--light-grey-text: rgb(144, 161, 184);
	--light-blue: rgb(233, 246, 255);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

* body {
	font-family: "Roboto", sans-serif;
	color: #333;
	line-height: 1.6;
	font-size: 16px;
}

ul {
	list-style-type: none;
}

h1,
h2,
h3 {
	font-weight: 300;
	line-height: 1.2;
	margin: 10px 0;
}

p {
	margin: 10px 0;
}

a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}

ul {
	list-style: none;
}

img {
	width: 100%;
}

.header {
	background-color: var(--primary-color);
	padding: 1rem;
}

.header .navbar {
	justify-content: space-between;
}

.logo {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 400;
	font-size: 16px;
}

/* .navbar {
	display: grid;
	grid-template-columns: 5fr 2fr;
} */

.navbar a:hover {
	color: rgba(255, 255, 255, 0.4);
}

.navbar ul {
	display: flex;
	justify-self: flex-start;
	align-items: center;
	justify-content: center;
}

.navbar .auth {
	justify-self: flex-end;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar .flex a {
	padding: 0 1rem;
}

.showcase {
	background-color: var(--primary-color);
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;
	padding: 0 24px;
	height: 20rem;
}

.showcase h1 {
	font-size: 48px;
	font-weight: 700;
	line-height: 52px;
	padding: 0 4rem;
	padding-bottom: 1rem;
}

.showcase p {
	font-size: 16px;
	line-height: 28px;
	padding-bottom: 2rem;
	font-weight: 100;
}

.showcase-form input[type="email"] {
	width: 17rem;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.75;
	height: 4.5rem;
	border-radius: 6px;
	padding-left: 1rem;
	border-color: #fff;
	margin-right: 0.5rem;
}

.showcase-form input[type="email"]:focus {
	border-radius: #4484c4;
}

.showcase-form {
	padding-bottom: 2rem;
}

.showcase-form button {
	height: 4.5rem;
	width: 8rem;
	font: 400 17px Arial;
	border-radius: 6px;
	border-color: var(--button-color);
	background-color: var(--button-color);
}
.showcase-form button:hover {
	background-color: rgb(0, 165, 93);
	color: #fff !important;
	border-color: rgb(0, 165, 93);
}

.banner {
	color: var(--dark-color);
	padding-top: 2rem;
	height: 25rem;
	background-color: var(--secondary-color);
}

.banner .grid {
	gap: 10rem;
	justify-items: start;
}

.banner-text {
	align-items: flex-start;
	padding-top: 5rem;
	padding-right: 7rem;
}

.banner .banner-text h2 {
	font-size: 32px;
	font-weight: 500;
}

.banner .banner-text a {
	background-color: var(--primary-color);
}

.banner .banner-icons .flex {
	justify-content: start;
	align-items: flex-start;
	padding: 0.5rem;
	padding-left: 1rem;
}

.banner .banner-icons a {
	color: var(--dark-color);
}

.banner .banner-icons {
	width: 35rem;
	background-color: transparent;
}

.banner-icons .icon-item h2 {
	font-size: 22px;
	font-weight: 500;
	padding: 0.5rem;
	padding-bottom: 0.7rem;
}

.banner-icons .icon-item h3 {
	padding: 0.7rem;
}

.banner-icons .icon-item span {
	padding: 1rem;
	padding-left: 7rem;
	font-size: 22px;
	color: var(--button-color);
}

.banner-icons .icon-item .comp-span {
	padding-left: 5rem;
}

.banner-icons .icon-item img {
	padding-top: 0.5rem;
	justify-self: flex-start;
	width: 2.5rem;
	height: 3rem;
}

.icon-item:hover {
	background-color: transparent;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 8px 24px;
	transition: 0.2s ease 0s;
}

.banner-icons .banner-btn {
	color: var(--primary-color) !important;
	font-weight: 500;
	font-size: 19px;
}

.overlay {
	padding-top: 3rem;
	background-color: var(--secondary-color);
	text-align: center;
	margin-bottom: 3rem;
}

.overlay .overlay-head {
	padding-bottom: 2rem;
}

.overlay .overlay-head h2 {
	font-size: 40px;
	font-weight: 500;
	padding-bottom: 1rem;
}

.overlay .grid {
	grid-template-columns: 2fr 3fr;
}

.svg-container {
	height: 72px;
	width: 72px;
	box-shadow: rgba(218, 225, 233, 0.557) 0px 8px 16px;
	border-radius: 50%;
}

.overlay-svg {
	height: 50px;
	/* align-self: start; */
	width: 50px;
	margin: 2rem;
	box-shadow: rgba(218, 225, 233, 0.557) 0px 8px 16px;
	z-index: 1;
}

.overlay .overlay-text {
	text-align: start;
}

.overlay .overlay-text h2 {
	font-weight: 500;
	font-size: 20px;
}

.overlay img {
	height: 35rem;
}

hr {
	font-weight: 100;
}

.features {
	padding-top: 3rem;
	background-color: var(--secondary-color);
	text-align: center;
	margin-bottom: 3rem;
	margin-top: 2rem;
}

.features .features-head h2 {
	font-size: 40px;
	font-weight: 500;
	padding-bottom: 1rem;
}

.features .features-head {
	margin-bottom: 5rem;
}

.features .grid {
	grid-template-columns: repeat(3, 1fr);
}

.features-svg {
	margin-bottom: 4rem;
}

.features .features-text {
	margin-bottom: 4rem;
}

.features .features-text h2 {
	color: var(--dark-blue-text);
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 2rem;
}

.features .features-text p {
	color: var(--light-grey-text);
	padding: 0 2rem;
	margin-bottom: 3rem;
}

.features .features-text a {
	color: var(--primary-color);
	padding: 1rem 2rem;
}

.stats {
	padding-top: 2rem;
	background-color: var(--primary-color);
	text-align: center;
	margin-bottom: 3rem;
	margin-top: 2rem;
	color: var(--secondary-color);
}

.stats .grid {
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-content: center;
}

.stats .stats-text h2 {
	font-weight: 500;
	font-size: 56px;
	padding-top: 0rem;
}

.stats .stats-text p {
	color: var(--light-grey-text);
	font-weight: 300;
	margin-bottom: 4rem;
}

.quickstart {
	padding-top: 1rem;
	background-color: var(--secondary-color);
	text-align: center;
	margin-bottom: 1rem;
	margin-top: 2rem;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
}

.quickstart .quickstart-head h2 {
	font-size: 40px;
	font-weight: 500;
	padding-bottom: 1rem;
}

.quickstart .quickstart-head {
	margin-bottom: 5rem;
}

.quickstart .grid {
	grid-template-columns: repeat(3, 1fr);
}

.quickstart-icons {
	padding: 0 4rem;
}

.quickstart-svg {
	margin-bottom: 1.5rem;
}

.quickstart .quickstart-text {
	margin-bottom: 4rem;
}

.quickstart-line {
	color: rgb(186, 197, 212);
	margin-bottom: 4rem;
	margin-left: 2rem;
}

.quickstart .quickstart-text h2 {
	color: var(--dark-blue-text);
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 0rem;
}

.banner-footer {
	color: var(--dark-color);
	height: auto;
	width: auto;
	background-color: var(--light-blue);
	margin-bottom: 2rem;
}

.banner-footer .grid {
	justify-items: start;
}

.banner-footer-text {
	align-items: flex-start;
	padding-top: 5rem;
	margin-left: 10rem;
	padding-right: 6rem;
}

.banner-footer .banner-footer-text h2 {
	font-size: 32px;
	font-weight: 500;
}

.banner-footer .banner-footer-text a {
	background-color: var(--primary-color);
}

.banner-footer img {
	width: auto;
}
