.container {
	max-width: 1250px;
	margin: 0 auto;
	overflow: auto;
	padding: 0 40px;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-between {
	display: flex;
	justify-content: space-between !important;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	height: 100%;
}

.grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.card {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
	padding: 20px;
	margin: 10px;
	color: #333;
}

.text-center {
	text-align: center;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	background-color: var(--primary-color);
	color: #fff;
	border: none;
	font-weight: 300;
	border-radius: 5px;
}

.btn-outline {
	background-color: transparent;
	border: 1px white solid;
	font-weight: 300;
}

.btn:hover {
	transform: scale(0.96);
	background-color: rgb(10, 70, 228);
}

.btn-outline:hover {
	color: #333 !important;
	background-color: #f4f4f4;
}

.hidden {
	color: rgb(255, 255, 255);
}

button:disabled {
	opacity: 0;
}
